body {
    height: 100vh;
    margin: 0;
    background-image: url("../img/fondo01.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}


/* Varita */

#wand00 {
    position: absolute;
    transform-origin: bottom center;
    height: 20%;
    bottom: 0px;
    left: 45%;
    z-index: 1;
}


/* Esqueletos */

.figL {
    display: inline-block;
    animation: walkL 10s linear infinite;
    cursor: pointer;
    top: 50%;
    position: absolute;
}

.figR {
    display: inline-block;
    animation: walkR 10s linear infinite;
    cursor: pointer;
    top: 50%;
    position: absolute;
}


/* Calabazas */

.pumpL {
    animation: flyL 5s ease;
    cursor: pointer;
    position: absolute;
    top: 30%;
}

.pumpR {
    animation: flyR 5s ease;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 100%;
}

.pump {
    height: 100px;
    width: 100px;
}


/* Bombas */

.lilBomb01 {
    height: 200px;
    display: none;
}

.lilBomb02 {
    height: 100px;
    display: none;
    top: 0px;
    position: absolute;
}

.bigBomb {
    position: absolute;
    bottom: 0px;
    height: 100vh;
    width: auto;
    z-index: 1;
}


/* Counter */

#counterDiv {
    position: absolute;
    right: 24%;
    top: 10%;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
    z-index: 2;
    animation: points 3s 1 paused forwards;
}

.restart {
    text-decoration: none;
    color: rgb(242, 234, 234);
    font-size: 200px;
    z-index: 4;
    transform-origin: bottom center;
    display: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
}


/* Timer */

#timer {
    color: whitesmoke;
    width: 80px;
    height: 80px;
    background-color: rgb(88, 88, 88);
    position: absolute;
    right: 17%;
    top: 10%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


/* Pause */

#pauseBtn {
    width: 80px;
    height: 80px;
    background-color: rgb(88, 88, 88);
    color: whitesmoke;
    position: absolute;
    right: 10%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 20px;
    font-weight: 1000;
}

#pauseBtn:hover {
    background-color: whitesmoke;
    color: rgb(88, 88, 88);
    transform: scale(1.1);
    cursor: pointer;
}

#pauseOpt {
    height: 300px;
    width: 500px;
    background-color: rgb(204, 204, 204);
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1;
}

#pauseOpt a {
    text-decoration: none;
    color: black;
    font-size: 80px;
}

#pauseOpt a:hover {
    transform: scale(1.1);
    color: rgb(63, 63, 63);
}


/* Animaciones */

@keyframes walkL {
    0% {
        left: -10%
    }
    100% {
        left: 100%
    }
}

@keyframes walkR {
    0% {
        right: -10%;
    }
    100% {
        right: 100%;
    }
}

@keyframes flyL {
    0% {
        left: -5%;
        top: 40%;
    }
    25% {
        top: 10%
    }
    100% {
        left: 120%;
        top: 40%;
    }
}

@keyframes flyR {
    0% {
        left: 120%;
        top: 40%;
    }
    25% {
        top: 10%
    }
    100% {
        left: -25%;
        top: 40%;
    }
}

@keyframes points {
    0% {
        right: 24%;
        top: 10%;
        width: 200px;
        height: 80px;
        font-size: 30px;
        border-radius: 20px;
    }
    100% {
        right: 15%;
        top: 15%;
        width: 70%;
        height: 50%;
        font-size: 200px;
        border-radius: 50px;
    }
}