body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3C2AF;
    overflow: hidden;
}


/* Fondo de la pantalla de inicio */

#fondo {
    height: 100vh;
    width: 100%;
}

#fondoUp {
    height: 100vh;
}

#fondoAnim {
    transform: scale(0.9);
    margin-top: -100%;
    animation: fonAnim 2s linear infinite forwards;
}

@keyframes fonAnim {
    0% {
        transform: translateY(0px) scale(0.9);
    }
    50% {
        transform: translateY(20px) scale(0.9);
    }
    100% {
        transform: translateY(0px) scale(0.9);
    }
}


/* Boton Start */

#Start {
    position: absolute;
    top: 70%;
    left: 30%;
    
}

/* Boton How to play */
#howToPlay{
    position: absolute;
    top: 70%;
    left: 40%;
    width: 300px;
}

/* Explicacion del juego */
#playExp{
    height: 70%;
    width: 70%;
    background-color: #36212E;
    position: absolute;
    border-radius: 50px;
    display: none;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    color: #FCEFE0;
    padding: 50px;
}

#playExp p{
    font-size: 20px;
}

#StartPlay{
    position: absolute;
    bottom: 50px;
}

#closeHtP{
    position: absolute;
    right: 40px;
    top: 10px;
}

#closeHtP:hover{
    transform: scale(1.1);
    color: #D3C2AF;
}

/* Botones */
.Btn {
    background-color: #36212E;
    color: #FCEFE0;
    border-color: #FCEFE0;
    border-radius: 30px;
    border: solid 5px;
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    cursor: pointer;
    height: 80px;
}

.Btn:hover {
    transform: scale(1.1);
    background-color: #553448;
}